<!DOCTYPE html>
<html>
<head>
	<title>Annaliese's Cookie Store</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Schoolbell' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>Cookie Input Form</h1>
	<h2>(Not accessible by public)</h2>
	<form action="/cookies" method="POST">
		<input type="text" name="cookiename" placeholder="Cookie Name"><br/>
		<input type="text" name="img" placeholder="image"><br/>
		<input type="text" name="headline" placeholder="headline"><br/>
		<textarea type="text" name="description" placeholder="description" rows="4" cols="50"></textarea><br/>
		<input type="submit">
	</form>
</body>
</html>