<!DOCTYPE html>
<html>
<head>
	<title>Annaliese's Cookie Store</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Schoolbell' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
		<section>
			<h1>Annaliese's <img id="trefoil" src="../images/trefoil.png"> Cookie Store</h1>
		</section>
		<section>
			<h1>Thank You!</h1>
			<p>Your purchase supports Girl Scout activities in my brownie troop and around the country. Thank you for your support! <br/><span>Annaliese</span></p>
		</section>
		<section>
			<a href="/users">
				<div class="navbutton">
					<h2>Home</h2>
				</div>
			</a>
		</section>
	</div>	
</body>
</html>